body{
    margin: 0px;
    padding: 0px;
}
.header
{
    background-color: rgb(88, 193, 235);
    text-align: center;
    margin-top: -20px;
    padding: 10px;
}
.body
{
    display: flex;
}
.left
{
    margin: 0px;
    background-color: rgba(222, 222, 233, 0.37);
    padding: 0px 20px;
    width: 20%;
}
.footer
{
    
    background-color: rgb(88, 193, 235);
    padding: 1px;
}
.forms
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgba(222, 222, 233, 0.37);
    margin: 5px;
}
.content
{
    margin: 10px;
}
a{
    text-decoration: none;
}
.header>h3{
    margin-bottom: -1px;
}
.skill
{
    margin-top: -25px;
    display: flex;
}
span
{
    font-weight: bold;
}
.sty{
    background-color: rgba(128, 128, 128, 0.048);
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}
p
{
    text-align: justify;
}
button
{
    margin-left: 50%;
}
