body{
    margin: 0px;
    padding: 0px;
    border: 2px solid rgba(0, 0, 0, 0.418);
    padding-bottom: 80px;
}
.header
{
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.418);
    background-color: rgb(88, 193, 235);
    padding: 10px;
}
.left
{
    width: 20%;
    border-right: 2px solid rgba(0, 0, 0, 0.418);
    background-color: rgba(222, 222, 233, 0.37);
    padding: 0px 20px;
}

.main
{
    display: flex;
}
.content
{
    margin-left: 10px;
    overflow-y: scroll;
    height: 100vh;
    
}
.skill
{
    margin-top: -25px;
    display: flex;
}
span
{
    font-weight: bold;
}
.sty{
    background-color: rgba(128, 128, 128, 0.048);
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}
p
{
    text-align: justify;
}
a{
    text-decoration: none;
}
.header>h3{
    margin-bottom: -1px;
}
.footer
{
    
    height: auto;
    background-color: rgb(88, 193, 235);
    border-top:  2px solid rgba(0, 0, 0, 0.418);
    padding-bottom:2px ;
  
   
    width: 100%;
}
a:hover
{
    color: green;
}
.extra
{
    padding: 40px;
}
.left li{
    padding: 10px;
}
.left h1{
    margin-top: 20px;
}
.forms
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgba(222, 222, 233, 0.37);
    margin: 5px;
}
